@media (max-width: 1460px) {
  .mission {
    flex-direction: column;
    row-gap: 40px;
  }

  .sidebar-news {
    max-width: unset;
  }
}

@media (max-width: 1260px) {
  .container {
    padding-block: 40px;
  }
}

@media (max-width: 1024px) {
  .header__wrapper {
    flex-wrap: wrap;
    row-gap: 20px;
  }

  .header__navigation {
    order: 2;
    flex-basis: 100%;
  }

  .header__navigation-list {
    justify-content: center;
  }

  .acquaintance__title::after {
    content: "";
    background: url(../svg/acquaintance/bee-1.svg) center/contain no-repeat;
    display: inline-block;
    width: 44px;
    height: 58px;
  }
}

@media (max-width: 920px) {
  .products__list {
    flex-direction: column;
    row-gap: 10px;
  }

  .products__item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .products__quote {
    flex-direction: column;
    row-gap: 20px;
  }

  .products__catalog {
    margin-bottom: 70px;
  }

  .gallery__images {
    grid-template-columns: repeat(2, 1fr);
  }

  .subscribe__wrapper-img {
    display: none;
  }

  .subscribe__title {
    display: flex;
    align-items: center;
    column-gap: 30px;
  }

  .subscribe__title::after {
    content: "";
    display: inline-block;
    background: url(../svg/acquaintance/bee-2.svg) center/contain no-repeat;
    width: 74px;
    height: 53px;
  }
}

@media (max-width: 720px) {
  .acquaintance__wrapper-img {
    display: none;
  }

  .acquaintance__wrapper-text {
    margin-right: 0;
  }

  .mission__video-play-button {
    width: 80px;
  }

  .gallery__images {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }

  .gallery {
    row-gap: 40px;
  }

  .subscribe__input {
    width: 300px;
  }
}

@media (max-width: 500px) {
  .header__wrapper {
    flex-direction: column;
    row-gap: 15px;
  }

  .header__navigation-list {
    column-gap: 20px;
  }

  .mission__video-play-button {
    background-color: transparent;
  }

  .subscribe__input {
    width: 250px;
  }
}

@media (max-width: 450px) {
  .header__navigation-list {
    column-gap: 10px;
  }
}
